# Игнорируем все файлы
*

# Включаем только нужные файлы и директории
!.gitignore
!build.gradle
!settings.gradle
!src/main/java/**/main.java

# Исключаем служебные директории и системные файлы
.idea/
.gradle/
build/
out/
target/
gradle/
gradlew
gradlew.bat

# Временные файлы и системные
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
