# Игнорируем все файлы
*

# Включаем только нужные файлы
!.gitignore
!build.gradle
!settings.gradle
!**/main.java

# Исключаем служебные директории
.idea/
.gradle/
build/
out/
target/
gradle/
gradlew
gradlew.bat

# Временные файлы и системные
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db